.imgTop, .imgBottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    text-shadow: 0 0 4px #fff;
}

.imgTop {
    top: 10px;
}

.imgBottom {
    bottom: 10px;
}